<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Glance</title>
		<link rel="stylesheet" href="/static/css/dash.css">
		<link href="https://fonts.googleapis.com/css?family=Advent+Pro:300" rel="stylesheet">
	</head>
	<body>
		<div class="content">

			<div class="col-1-1">
				<i class="logo">glance</i>
				<i class="project-name">Hosting "glance_test"</i>
				<a class="link" href="https://github.com/jessehorne/glance">GitHub</a>
			</div>

			<div class="col-1-2 center-text"><h3>Explore</h3></div>
			<div class="col-1-2 center-text"><h3>View</h3></div>

			<ul id="explorer" class="col-1-2 explorer"></ul>

			<div id="viewer" class="col-1-2 viewer"></div>
		</div>

		<script src="/static/js/glance.js"></script>
	</body>
</html>
