<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/css/pure-min.css">
		<link rel="stylesheet" href="/static/css/layouts/email.css">
		<link rel="stylesheet" href="/static/css/style.css"/>
		<link rel="shortcut icon" href="/static/favicon.ico"/>
	</head>
	<body>

		<div id="layout" class="content pure-g">
		    <div id="nav" class="pure-u">
		        <a href="#" class="nav-menu-button">Menu</a>

		        <div class="nav-inner">
		            <button class="primary-button pure-button">glance</button>

		            <div class="pure-menu">
		                <ul class="pure-menu-list">
								  <li class="pure-menu-heading">Folders</li>
								  {{#folders}}
								  		<li class="pure-menu-item"><a href="{{route}}" class="pure-menu-link"><i class="fas fa-folder"></i> {{name}}/</a></li>
								  {{/folders}}
								  {{^folders}}
								  		<li class="pure-menu-item"><b class="pure-menu-link">No folders here...</b></li>
								  {{/folders}}
		                </ul>
		            </div>
		        </div>
		    </div>
			 <div class="folder"><h4 class="email-subject">glance v0.1.0 serving <b>'{{hosting}}/'</b></h4></div>
			 <div id="list" class="pure-u-1">
				 <div class="email-item pure-g">
					 <div class="pure-u-3-4">
						  <h4 class="email-subject">Files</h4>
					 </div>
				 </div>
				 {{#files}}
					<div class="email-item email-item-selected pure-g">
						{{#image}}
							<div class="pure-u-3-4 file_selector">
								<h4 class="email-name">{{name}}</h4>
								<!-- <h6 class="email-subject">{{size}}</h6> -->
							</div>
						{{/image}}

						{{#file_body}}
							<div class="pure-u-3-4 file_selector">
								<h4 class="email-name">{{name}}</h4>
								<!-- <h6 class="email-subject">{{size}}</h6> -->
							</div>
						{{/file_body}}
					</div>
				{{/files}}
				{{^files}}
					<div class="email-item pure-g">
						<div class="pure-u-3-4">
							 <h4 class="email-subject">No files here. :(</h4>
						</div>
					</div>
				{{/files}}
			 </div>
		</div>


	</body>
</html>
